@charset "utf-8";
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Vitro_core';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Vitro_core.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {font-family: 'Pretendard'; src: url('//cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff'); font-weight: 800; font-style: normal;}

* {margin:0; padding:0;}
ul,li {list-style:none;}
a {text-decoration:none;}
img {vertical-align:top;}
table {border-collapse:collapse;}
.clear_fix:after {content:""; display:block; clear:both;}
body {font-family: 'Pretendard'; font-weight:400; font-size:14px; line-height:1; word-break: keep-all;}

.dp_f {display: -webkit-box; display: -ms-flexbox; display: flex;}
.dp_sb {display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}
.dp_c {-webkit-box-align: center; -ms-flex-align: center; align-items: center;}
.dp_wrap{-ms-flex-wrap: wrap; flex-wrap: wrap;}
.dp_cc {-webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: center;}
.dp_end {align-items: flex-end;}
.dp_end02 {justify-content: flex-end;}
.dp_fc {flex-direction: column;}

/*portfolio페이지*/

.progress {background: #061028; color: #fff; height: 100vh; width: 100%; top:0; left:0; position:fixed; z-index: 5000;}
.progress-bar {	border-top: 1px solid #fff;	position: absolute;	top: 50%; width: 0%;}
.progress-text {font: 14px;	margin-top: 10px; position: absolute; text-align: center; top: 50%; width: 100%;}
.progress-complete .progress-bar {border-top-color: rgb(255,255,255);}

.ct-center {width:85%; margin:0 auto;}
#visual {padding-bottom:90px; background-color:#ecebe7;}
#visual .ct-center {position:relative; height:763px;}
#visual .ct-center .topWrap {
  display: flex;
  /* padding-top: 30px; */
  padding: 20px 40px;
  box-sizing: border-box;
  position: fixed;
  background-color: rgb(255,255,255,0.4);
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 4500;
}
#visual .ct-center .topWrap .top {width:33.333333%;}
#visual .ct-center .topWrap .cir p {width:90px; padding:10px 20px; border-radius:50%; border:2px solid #061028; font-family:"Rubik"; font-weight:800; color:#ffa62b; font-size:28px; text-align:center;}
#visual .ct-center .topWrap h2 {margin-top:15px; text-align:center; color:#061028; font-size:26px; font-weight:600;}
#visual .ct-center .topWrap .top .rightmenu {margin:20px 30px 0 0; text-align:right;}
#visual .ct-center .topWrap .top .rightmenu li {display:inline-block; margin:0 20px; }
#visual .ct-center .topWrap .top .rightmenu li a {display:block; color:#061028; font-size:16px; font-weight:600; transition:all 0.3s;}
#visual .ct-center .topWrap .top .rightmenu li:hover a {color:#ffa62b;}
#visual .ct-center .topWrap .top .rightmenu li.on a {color:#ffa62b;}

#visual .ct-center .intro {position:absolute; top:45%; left:50%; transform:translateX(-50%); width:64%; text-align:center;}
#visual .ct-center .intro .text {height: 250px; font-size:80px; line-height:110px; font-weight:700; color:#061028; letter-spacing:10px;}
#visual .ct-center .intro .blink {animation: blink 0.5s infinite;font-size: 80px; color:#ffa62b;}
  
  @keyframes blink {
    to {
      opacity: 0;
    }
  }

#visual .ct-center .info {position:absolute; top:65%; font-size:14px; color:#061028; letter-spacing:3px;}
#visual .ct-center .phone {left:-77px; transform: rotate(-90deg);}
#visual .ct-center .mail {right:-77px; transform: rotate(90deg);}

#visual .ct-center .firstbox .scrolldown {position:absolute; width:130px; left:50%; bottom:0; transform:translateX(-50%); animation:scroll01 1s infinite linear alternate;}
@keyframes scroll01 {

    0% {bottom:-60px;}

    100% {bottom:-80px;}

}

#visual .ct-center .firstbox .scrolldown .tri {margin:20px auto 0; width: 0px; height: 0px; border-top:14px solid #ffa62b; border-bottom:10px solid transparent; border-right:10px solid transparent; border-left:10px solid transparent;}
#visual .ct-center .firstbox .scrolldown p {text-align:center; font-size:16px; color:#061028; letter-spacing:4px;}


.topBtn {position:fixed; bottom:10%; right:75px; width:55px; height:55px; border-radius:50%; background-color:#ffa62b; z-index:99; animation:upward 1s infinite linear alternate;} 
.topBtn img {position:absolute; width:35px; top:50%; left:50%; transform:translate(-50%,-50%);}

@keyframes upward {

    0% {bottom:10%;}

    100% {bottom:11.5%;}

}

#container .ocean__wrap { position: relative; overflow-x: hidden; width: 100%; z-index: 33;}
#container .ocean { position: relative; width: 100vw; z-index: 20;}
#container .cont01 .ocean {background-color:#ecebe7;}
#container .cont02 .ocean {background-color:#061028;}
#container .cont03 .ocean {background-color:#ecebe7;}
#container .cont04 .ocean {background-color:#061028;}

#container .wave {
    background: url(../img/wave01.svg) repeat-x; 
    width: 6400px;
    height: 198px;
    animation: wave 6s linear 0s infinite;
    transform: translate3d(0, 0, 0);
}

#container .cont02 .wave {
    background: url(../img/wave02.svg) repeat-x; 
}

#container .cont03 .wave {
    background: url(../img/wave01.svg) repeat-x; 
}

#container .cont04 .wave {
    background: url(../img/wave02.svg) repeat-x; 
}

@keyframes wave {
    0% {margin-left: 0;}
    100% {margin-left: -1600px;}
    } 


#container .cont01 {position:relative; padding-bottom: 100px; background-color: #061028; color:#fff;}
#container .cont01 .ct-center {width:84%; margin:0 auto; padding-bottom:108px; }

@keyframes blinks {

    0% {opacity:0;}
    100% {opacity:1;}

} 

@keyframes arrow {

    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateX(0);
    }
    40% {
        transform: translateX(-30px);
    }
    60% {
        transform: translateX(-45px);
    }

} 
#container .cont01 .infobox {margin-bottom:30px;}  
#container .cont01 .infoboxWrap {display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center;}
#container .cont01 .infoboxWrap .left-sec {width:30%; margin-left:8%; font-size:15px;}
#container .cont01 .infoboxWrap .left-sec .profilepic {margin-top:42px;}
#container .cont01 .infoboxWrap .left-sec .profilepic img {width: 56%;}
#container .cont01 .infoboxWrap .left-sec .profilebox {margin-top:30px;}
#container .cont01 .infoboxWrap .left-sec .profilebox .title {float:left;}
#container .cont01 .quotebox .tool_list li {margin-right: 20px; width: 55px; height: 55px; border-radius: 5px; background-color: rgb(228,228,228,1); overflow: hidden;}

#container .cont01 .infoboxWrap .left-sec .profilebox .title li {margin:15px 0; letter-spacing:2px;}
#container .cont01 .infoboxWrap .left-sec .profilebox .title li:first-child {font-weight:600; font-size:18px;}
#container .cont01 .infoboxWrap .left-sec .profilebox .title li:last-child {font-family:"Montserrat"; font-weight:400; font-size:16px;}

#container .cont01 .infoboxWrap .left-sec .profilebox .line {float:left; width:2px; height:78px; margin:0 26px; background-color: #ffa62b;}

#container .cont01 .infoboxWrap .left-sec .profilebox .content {float:left;}
#container .cont01 .infoboxWrap .left-sec .profilebox .content li {margin:10px 0; font-family:"Montserrat"; font-weight:400; font-size:14px;}

#container .cont01 .infoboxWrap .right-sec {margin-top: 45px; width:62%; font-size:15px;}
#container .cont01 .infoboxWrap .right-sec .infobox_wrap {display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}
#container .cont01 .infoboxWrap .right-sec .infobox h4 {position:relative; margin-bottom:20px; font-weight:600; font-size:20px; color:#fff; letter-spacing:3px;}
#container .cont01 .infoboxWrap .right-sec .infobox h4::before {content:""; position:absolute; top:-10px; left:-11px; width:10px; height:10px; background-color: #ffa62b; }
#container .cont01 .infoboxWrap .right-sec .infobox h4 span {display:block; margin-top:10px; font-size:14px; font-family:"Montserrat"; font-weight:400; color:#ffa62b;}

#container .cont01 .infoboxWrap .right-sec .infobox .bot .title {float:left; margin-right:30px;}
#container .cont01 .infoboxWrap .right-sec .infobox .bot .title li {margin:14px 0;}
#container .cont01 .infoboxWrap .right-sec .infobox .bot .content {float:left;}
#container .cont01 .infoboxWrap .right-sec .infobox .bot .content li {margin:14px 0;}


#container .cont01 .infoboxWrap .right-sec .infobox .skillboxWrap {margin-top:30px; width:510px;}
#container .cont01 .infoboxWrap .right-sec .infobox .skillboxWrap .skillbox {float:left; margin:0 15px; width:72px; height:72px;}
#container .cont01 .infoboxWrap .right-sec .infobox .skillboxWrap .skillbox .skill {position:relative; width:100%; height:72px;}
#container .cont01 .infoboxWrap .right-sec .infobox .skillboxWrap .skillbox .skill span {position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); font-family: 'Jost'; font-weight:600; font-size:15px;}
#container .cont01 .infoboxWrap .right-sec .infobox .skillboxWrap .skillbox .skill .circle {position:absolute; top:0; left:0; width:100%; height:100%; border-radius:50%; border:13px solid #F5F5F5; box-sizing:border-box;}
#container .cont01 .infoboxWrap .right-sec .infobox .skillboxWrap .skillbox .skill .circle .line {position:absolute; top:-13px; left:-13px; width:72px; height:72px; border-radius:50%; border:13px solid #ffa62b; box-sizing:border-box; clip:rect(0,35px,73px,0); transform:rotate(90deg);}
#container .cont01 .infoboxWrap .right-sec .infobox .skillboxWrap .skillbox .skill .circle .fill {position:absolute; top:-13px; left:-13px; width:72px; height:72px; border-radius: 50%; border:13px solid #ffa62b; box-sizing:border-box; clip:rect(0,35px,73px,0);}


#container .cont01 .infoboxWrap .right-sec .infobox .skillboxWrap .skillbox .skill .cir01 .fill {transform:rotate(240deg);}
#container .cont01 .infoboxWrap .right-sec .infobox .skillboxWrap .skillbox .skill .cir02 .fill {transform:rotate(162deg);}
#container .cont01 .infoboxWrap .right-sec .infobox .skillboxWrap .skillbox .skill .cir03 .fill {transform:rotate(162deg);}
#container .cont01 .infoboxWrap .right-sec .infobox .skillboxWrap .skillbox .skill .cir04 .fill {transform:rotate(162deg);}
#container .cont01 .infoboxWrap .right-sec .infobox .skillboxWrap .skillbox .skill .cir05 .fill {transform:rotate(145deg);}

#container .cont01 .infoboxWrap .right-sec .infobox .skillboxWrap .skillbox p {margin-top:13px; font-family: 'Montserrat'; font-size:15px; text-align:center;}
#container .cont01 .infoboxWrap .right-sec .tool {margin-left:95px;}


#container .cont02 {padding-bottom: 100px; background-color:#ecebe7;}
#container .cont02.visible {visibility: visible; pointer-events: auto;}
#port {
    width: 100%;
    margin-top: 100px;
    height: 100%;
    overflow: hidden;
}
#container .cont02 .workWrap {    
  display: flex;
  flex-wrap: wrap;
  padding-left: 120px;
  width: 20160px;
}
#container .cont02 .title {display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; position: relative; top: -100px; height: 100vh;}
#container .cont02 .title h3 {width:40%; text-align: center; font-size: 60px; font-weight: 800;}
#container .cont02 .content_list {width: 60%; display: -webkit-box; display: -ms-flexbox; display: flex;}
#container .cont02 .content_list ul {width: 45%;}
#container .cont02 .content_list ul li {display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-bottom: 60px; font-size: 18px;}
#container .cont02 .content_list ul li span {margin-left: 5px; color: #979797; font-size: 16px;}
#container .cont02 .content_list ul li::before {display: block; content: ""; margin-right: 10px; border-radius: 3px; width: 14px; height: 3px; background-color: #ffa62b;}

#container .cont02 .workbox {display:flex; margin:0 60px; width: 1320px; height: 70vh;}


#container .cont02 .workbox .image {position:relative; top:10px; width:589px; height:580px; transition:all 0.3s; overflow:hidden;}
#container .cont02 .workbox .image:hover {top:-10px;}
#container .cont02 .workbox .image .hoverbx {position:absolute; bottom:-29%; left:37%; color:#fff; background-color:rgb(255,166,43,0.8); width:150px; height:150px; line-height:150px; border-radius:50%; text-align:center; font-size:18px; letter-spacing:2px; transition:all 0.5s;}
#container .cont02 .workbox .image:hover .hoverbx {bottom:40%;}
#container .cont02 .workbox .textbox {margin:33px 0 0 70px; font-size:16px;}
#container .cont02 .workbox .image .lang {position:relative; top:14px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: center;}
#container .cont02 .workbox .image .lang span {display:inline-block; margin:0 2px; padding:12px 14px; border:1px solid #555; color:#000; font-family: "Rubik"; font-weight:500; font-size:15px; transition:all 0.3s;}

#container .cont02 .workbox .textbox h4 {position:relative; margin-bottom:20px; font-weight:700; font-size:36px;}
#container .cont02 .workbox .textbox h4::before {content:""; position:absolute; display:block; top:-12px; left:-12px; width:12px; height:12px; background-color:#555; animation:blinks 0.5s infinite linear alternate;}
#container .cont02 .workbox .textbox .about-d {margin-bottom:35px; color:#555;} 
#container .cont02 .workbox .textbox .about-d2 {width:525px; line-height:27px; color:#555;}
#container .cont02 .workbox .textbox .about-d2::after {content:""; display:block; margin:20px 0 20px 0; width:20px; height:3px; background-color: #555;}
#container .cont02 .workbox .textbox .about-d2::before {content:""; display:block; margin-bottom:20px; width:20px; height:3px; background-color: #555;}
#container .cont02 .workbox .textbox .detailWrap ul li {display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin:15px 0;}
#container .cont02 .workbox .textbox .detailWrap .firstline {width: 12%; font-weight:600; color:#000;}
#container .cont02 .workbox .textbox .detailWrap .secondline {width: 88%; margin-left:36px; color:#555; line-height: 1.5;}

#container .cont02 .workbox .visit_btn_wrap {display: -webkit-box; display: -ms-flexbox; display: flex;}
#container .cont02 .workbox .visit {display:block; margin:30px 0 70px 0; background-color:#061028; color:#fff;  width:180px; height:45px; line-height:45px; font-size:15px; font-weight:700; text-align:center; box-sizing:border-box; transition:all 0.3s ease;}
#container .cont02 .workbox .visit:nth-child(2) {margin: 30px 0 70px 10px;}
#container .cont02 .workbox .visit:hover {background-color:transparent; background-color:#ffa62b;}
#container .cont02 .workbox .download {display:inline-block; margin:30px 0 70px 30px; background-color:#061028; color:#fff;  width:180px; height:45px; line-height:45px; font-size:15px; font-weight:700; text-align:center; box-sizing:border-box; transition:all 0.3s ease;}
#container .cont02 .workbox .download:hover {background-color:transparent; background-color:#ffa62b;}


#container .cont02 .image img {width:100%;}


#container .cont03 {
  position:relative; 
  padding-bottom: 100px;
  background-color:#061028; 
}
#container .cont03 h3 {
  text-align: center;
}
.site__inner {
  width:85%; 
  margin:0 auto;
  padding: 16px;
  box-sizing: border-box;
}
.site__title {
  position: sticky;
  top: 70px;
  left: 0;
  width: 70%;
  height: 5vw;
  font-size: 4vw;
  font-weight: 900;
  line-height: 1.6;
  text-transform: uppercase;
  color: #fff;
  border-bottom: 0.4vw solid #fff;
  margin-bottom: 100px;
}
.site__title em {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2;
}
.site__item {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: sticky;
  left: 0;
}
.site__item.s1 {
  background-color: #cdc0b1;
  top: 180px;
}
.site__item.s2 {
  background-color: #afa395;
  top: 200px;
}
.site__item.s3 {
  background-color: #81887c;
  top: 220px;
}
.site__item.s4 {
  background-color: #afa7a2;
  top: 240px;
}
.site__item .num {
  font-size: 5vw;
  line-height: 1;
  font-weight: 900;
  position: absolute;
  left: 1vw;
  top: 1vw;
}
.site__item .text {
  text-align: center;
  margin-bottom: 1rem;
}
.site__item .text > div {
  font-size: 3vw;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: underline;
}
.site__item .title {
  margin-bottom: 1rem;
}
.site__item .btn a {
  text-decoration: underline;
  text-transform: uppercase;
  color: #434343;
  font-size: 1rem;
  transition: all 0.3s;
}
.site__item .btn a:hover {
  color: #000;
}
.site__item .info {
  position: absolute;
  left: 0;
  bottom: 3%;
  width: 98%;
  margin-left: 1%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
}
.site__item .info span {
  font-size: 12px;
  padding: 3px 0;
  text-transform: uppercase;
}

@media (max-width: 800px){
  .site__inner {
    width: 100%;
  }
  .site__title {
      width: 100%;
      margin-bottom: 10vw;
      font-size: 30px;
      height: auto;
      top: 68px;
      z-index: 1000;
  }
  .site__item.s1 {
      top: 140px;
  }
  .site__item.s2 {
      top: 160px;
  }
  .site__item.s3 {
      top: 180px;
  }
  .site__item.s4 {
      top: 200px;
  }
  .site__item .num {
      font-size: 80px;
      left: 20px;
      top: 20px;
  }
  .site__item .text > div {
      font-size: 26px;
  }
  .site__item .info {
      flex-direction: column;
      width: 90%;
      margin-left: 5%;
      padding: 5px 0;
  }
}



#container .cont04 {background-color:#ecebe7;}
#container .cont04 .ct-center {position:relative; height:763px;}
#container .cont04 .ct-center .info {position:absolute; top:40%; font-size:14px; color:#061028; letter-spacing:3px;}
#container .cont04 .ct-center .phone {left:-77px; transform: rotate(-90deg);}
#container .cont04 .ct-center .mail {right:-77px; transform: rotate(90deg);}
#container .cont04 .last {position:absolute; top:34%; left:50%; transform:translateX(-50%); color: #061028; font-weight:700; font-size:100px; letter-spacing:10px; text-align:center;}
#container .cont04 .last p::after {position:absolute; right:-7px; bottom:73px; content:""; display:block; width:5px; height:100px; background-color:#ffa62b; animation:blinks 0.5s infinite linear alternate;}


#container .cont04 .last span {margin-top:50px; display:block; font-weight:400; font-size:20px;}
#container .cont04 .copyright {position:absolute; bottom:5%; left:50%; transform: translateX(-50%); display:block; text-align:center; font-size:13px; color:#061028; letter-spacing:3px;}